In [ ]:
!pip install xlrd
import pandas as pd
url = ("https://www.sharkattackfile.net/spreadsheets/GSAF5.xls")
sharkattacks_data = pd.read_excel(url)
sharkattacks_data.info()

Requirement already satisfied: xlrd in /usr/local/lib/python3.12/dist-packages (2.0.2)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7074 entries, 0 to 7073
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            7074 non-null   object
 1   Year            7072 non-null   float64
 2   Type            7056 non-null   object
 3   Country         7024 non-null   object
 4   State           6587 non-null   object
 5   Location        6507 non-null   object
 6   Activity        6491 non-null   object
 7   Name            6856 non-null   object
 8   Sex             6496 non-null   object
 9   Age             4080 non-null   object
 10  Injury          7039 non-null   object
 11  Fatal Y/N       6513 non-null   object
 12  Time            3547 non-null   object
 13  Species         3943 non-null   object
 14  Source          7054 non-null   object
 15  pdf             6799 non-null   object
 16  href formula    6794 non-null   object
 17  href            6796 non-null   object
 18  Case Number     6798 non-null   object
 19  Case Number.1   6797 non-null   object
 20  original order  6799 non-null   float64
 21  Unnamed: 21     1 non-null      object
 22  Unnamed: 22     2 non-null      object
dtypes: float64(2), object(21)
memory usage: 1.2+ MB

To do: cleaning data

1. Change data types (e.g., Age to integer and Year to integer the rest to string)
2. Only include countries with >50 attacks
3.

Things to delete:

1. Date
2. Name
3. Time
4. Columns from 14 to 22
      pdf
      href formula
      href
      Case Number
      Case Number.1
      original order
      Unnamed 21
      Unnamed 22

In [ ]:
sharkattacks_data.describe(include = 'all')

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
count,7074.0,7072.000000,7056,7024,6587,6507,6491,6856,6496,4080.0,...,3943,7054,6799,6794,6796,6798,6797,6799.000000,1,2
unique,6113.0,NaN,13,252,945,4620,1611,5793,11,251.0,...,1740,5402,6789,6784,6776,6777,6775,NaN,1,2
top,1957.0,NaN,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16.0,...,White shark,"K. McMurray, TrackingSharks.com",1916.12.08.a-b-German.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1920.00.00.b,2022.03.15,NaN,stopped here,Teramo
freq,9.0,NaN,5225,2579,1192,191,1148,679,5673,92.0,...,194,131,2,2,4,2,2,NaN,1,1
mean,NaN,1936.004242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3401.152081,NaN,NaN
std,NaN,270.672015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1963.076319,NaN,NaN
min,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,NaN,NaN
25%,NaN,1948.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1701.500000,NaN,NaN
50%,NaN,1987.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3401.000000,NaN,NaN
75%,NaN,2010.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5100.500000,NaN,NaN
max,NaN,2026.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6802.000000,NaN,NaN

In [ ]:
l = sharkattacks_data["Country"].value_counts()

series = pd.Series(l)
print(series)

Country
USA                   2579
AUSTRALIA             1482
SOUTH AFRICA           597
NEW ZEALAND            144
BAHAMAS                136
                      ...
BAHREIN                  1
KOREA                    1
RED SEA?                 1
ASIA?                    1
CEYLON (SRI LANKA)       1
Name: count, Length: 252, dtype: int64

In [ ]:
country_counts = sharkattacks_data["Country"].value_counts()

countries_50_plus = country_counts[country_counts >= 50]

print(countries_50_plus)

Country
USA                 2579
AUSTRALIA           1482
SOUTH AFRICA         597
NEW ZEALAND          144
BAHAMAS              136
PAPUA NEW GUINEA     136
BRAZIL               122
MEXICO               103
ITALY                 72
FIJI                  67
NEW CALEDONIA         65
PHILIPPINES           63
REUNION               60
Name: count, dtype: int64

In [ ]:
sharkattacks_data['Age']

0        13
1         ?
2         ?
3        39
4        11
       ...
7069    NaN
7070    NaN
7071    NaN
7072    NaN
7073     15
Name: Age, Length: 7074, dtype: object

In [ ]:
sharkattacks_data['Country'].value_counts().head(16)

Country
USA                 2579
AUSTRALIA           1482
SOUTH AFRICA         597
NEW ZEALAND          144
BAHAMAS              136
PAPUA NEW GUINEA     136
BRAZIL               122
MEXICO               103
ITALY                 72
FIJI                  67
NEW CALEDONIA         65
PHILIPPINES           63
REUNION               60
CUBA                  49
EGYPT                 49
SPAIN                 46
Name: count, dtype: int64

# 1. Standardise column names by turning them into lowercase

sharkattacks_data.columns = sharkattacks_data.columns.str.lower()

display(sharkattacks_data)

#2.Decided on which columns are not relevant to our study and created a new data set with the dri

columns_to_drop = ["date", "time", "name", "source", "pdf", "href formula", "href", "case number", "case number.1", "unoriginal order", "unnamed: 21", "unnamed: 22"]

sharkattacks_data = sharkattacks_data.drop(sharkattacks_data.columns[[0, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22]], axis=1)

display(sharkattacks_data)

# 3. stnadardising categorical data by turning every country into lowercase

sharkattacks_data["country"] = sharkattacks_data["country"].str.strip()
sharkattacks_data["country"] = sharkattacks_data["country"].str.title()

# 4.Looking at countries with the highest amount of sharkattacks


l = sharkattacks_data["country"].value_counts()

series = pd.Series(l)

#5. Accessing top 15 countries with shark attacks

top15_countries = sharkattacks_data['Country'].value_counts().head(16).index

sharkattacks_data = sharkattacks_data[sharkattacks_data['Country'].isin(top15_countries)]

# 6. Filtering updated data set so it meets the requirement of countries with 50 or more attacks

sharkattacks_data = sharkattacks_data[sharkattacks_data["country"].map(sharkattacks_data["country"].value_counts()) >= 50]

display(sharkattacks_data)

#7.Check the number of null values by column

sharkattacks_data.isna().sum()